name: Push to Docker Hub
on: [push]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Login to Docker Hub
        run: echo ${{ secrets.DOCKER_BUILD_PASSWORD }} | docker login -u ${{ secrets.DOCKER_BUILD_USERNAME }} --password-stdin
      - name: Get version
        id: vars
        run: echo ::set-output name=tag::$(echo ${GITHUB_SHA:7})
      - name: Build the tagged Docker image
        run: docker build . -f Dockerfile --tag 4armed/kubectool:${{steps.vars.outputs.tag}}
      - name: Push the tagged Docker image
        run: docker push 4armed/kubectool:${{steps.vars.outputs.tag}}
      - name: Tag image as latest
        run: docker tag 4armed/kubectool:${{steps.vars.outputs.tag}} 4armed/kubectool:latest
      - name: Push latest
        run: docker push 4armed/kubectool:latest
